---
import FileUpload from "@/components/FileUpload"
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <div class="container max-w-2/3 md:max-w-1/2 lg:max-w-1/3">
    <FileUpload client:load />
  </div>
</Layout>
